@using CACES.BLL.DTOs.Especialidad
@model IEnumerable<especialidadDTO>

@{
    ViewData["Title"] = "Especialidades";
}

<section class="container py-5">

    <div class="col-12 col-lg-10 mx-auto mb-4 text-center">
        <div class="cotizar-banner">
            <h4>¿Desea cotizar algún procedimiento médico?</h4>
            <a href="#" class="btn btn-cotizar mt-3">Cotizar</a>
        </div>
    </div>

    <div class="top-action">
        <a class="btn btn-primary" asp-controller="Especialidad" asp-action="RegistroEspecialidad">
            + Registrar Especialidad
        </a>
    </div>

    <section class="mt-4">
        <h1 class="section-title mb-5">
            Nuestras Especialidades
        </h1>

        <div class="row g-4" id="contenedorEspecialidades">
            <!-- Las tarjetas se cargan aquí desde AJAX -->
        </div>

    </section>

</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/Especialidad.js"
            asp-append-version="true"></script>
}