
@{
	ViewData["Title"] = "Reportes";
}

<div class="container py-5">
    <section class="mt-4">
        <h4 class="section-title mb-5">Reportes del sistema</h4>
        <div class="alighn-items-center ">
            <div class="col-12 col-lg-10">
                <div class="card h-100 mb-4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><i class="bi bi-person"></i> Gestión de Usuarios</h5>
                        <p class="card-text">
                            Administra los usuarios registrados en el sistema, incluyendo pacientes,
                            especialistas y administradores.
                        </p>
                        <a asp-action="Usuarios" asp-controller="Usuario" class="btn btn-info mt-auto">Ver Reporte</a>
                    </div>
                </div>
                <div class="card h-100 mb-4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><i class="bi bi-person"></i> Gestión de Pacientes</h5>
                        <p class="card-text">Administra los pacientes registrados en el sistema, incluyendo su informacion, citas enlazadas y historial médico.</p>
                        <a asp-action="Pacientes" asp-controller="Paciente" class="btn btn-info mt-auto">Ver Reporte</a>
                    </div>
                </div>
                <div class="card h-100 mb-4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><i class="bi bi-person"></i> Gestión de Médicos</h5>
                        <p class="card-text">Administra los médicos registrados en el sistema, incluyendo su informacion y citas enlazadas.</p>
                        <a asp-action="Medicos" asp-controller="Medico" class="btn btn-info mt-auto">Ver Reporte</a>
                    </div>
                </div>
                <div class="card h-100 mb-4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><i class="bi bi-person"></i> Gestión de Roles</h5>
                        <p class="card-text">Administra los roles registrados en el sistema, aquí puedes cambiar los roles de los usuarios.</p>
                        <a asp-action="GestionRoles" asp-controller="Rol" class="btn btn-info mt-auto">Ver Reporte</a>
                    </div>
                </div>
                <div class="card h-100 mb-4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><i class="bi bi-person"></i> Gestión de Citas</h5>
                        <p class="card-text">Administra las citas registradas en el sistema, incluyendo su informacion.</p>
                        <a asp-action="Citas" asp-controller="Cita" class="btn btn-info mt-auto">Ver Reporte</a>
                    </div>
                </div>
                    <div class="card h-100 mb-4">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"><i class="bi bi-person"></i> Gestión de Especialidades</h5>
                            <p class="card-text">Administra las especialidades del sistema</p>
                            <a asp-action="ListadoEspecialidad" asp-controller="Especialidad" class="btn btn-info mt-auto">Ver Reporte</a>
                        </div>
               
                </div>
                <div class="card h-100 mb-4">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><i class="bi bi-person"></i> Gestión de Paquetes de turismo</h5>
                        <p class="card-text">Administra los paquetes de turismo del sistema</p>
                        <a asp-action="ObtenerPaquetes" asp-controller="Paquete" class="btn btn-info mt-auto">Ver Reporte</a>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>